@model IEnumerable<Bookshop.Models.Book>

@{
    ViewData["Title"] = "View";
}

<h1>All Horror books</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) мкд
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" height="180" width="150" />
                </td>
                <td>
                    <a class="text-dark" asp-controller="AllBooks" asp-action="AuthorDetails" asp-route-id="@item.AuthorID">@Html.DisplayFor(modelItem => item.BookAuthor.AuthorName)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
